@* Molecule: GameCell - Individual game cell with state *@

<button @onclick="OnClick"
        @oncontextmenu="OnRightClick"
        @oncontextmenu:preventDefault="true"
        @ondblclick="OnDoubleClick"
        class="cell-button @GetCellClass()"
        disabled="@Disabled"
        id="cell-@Row-@Col">
    <span class="@(IsFlagged && !IsRevealed ? "flag-animation" : "")">
        @GetCellContent()
    </span>
</button>