@* Atom: Button - Basic button component with variant support *@

<button @onclick="OnClick"
        class="@GetButtonClasses()"
        disabled="@Disabled"
        type="@Type"
        aria-label="@AriaLabel">
    @ChildContent
</button>