@namespace MineSweeper.Components.Atoms

<div class="@GetHeaderClasses()" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <span class="@GetIconClasses()">@Icon</span>
    }
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        @Title
    }
    @ChildContent
</div>