@namespace MineSweeper.Components.Atoms

<div class="@GetClasses()" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public StackDirection Direction { get; set; } = StackDirection.Column;

    [Parameter]
    public StackAlign Align { get; set; } = StackAlign.Start;

    [Parameter]
    public StackJustify Justify { get; set; } = StackJustify.Start;

    [Parameter]
    public StackGap Gap { get; set; } = StackGap.Medium;

    [Parameter]
    public bool Wrap { get; set; } = false;

    [Parameter]
    public string? Class { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
    {
        var classes = new List<string> { "flex" };

        // Direction
        classes.Add(Direction switch
        {
            StackDirection.Row => "flex-row",
            StackDirection.RowReverse => "flex-row-reverse",
            StackDirection.Column => "flex-col",
            StackDirection.ColumnReverse => "flex-col-reverse",
            _ => "flex-col"
        });

        // Align items
        classes.Add(Align switch
        {
            StackAlign.Start => "items-start",
            StackAlign.Center => "items-center",
            StackAlign.End => "items-end",
            StackAlign.Stretch => "items-stretch",
            StackAlign.Baseline => "items-baseline",
            _ => "items-start"
        });

        // Justify content
        classes.Add(Justify switch
        {
            StackJustify.Start => "justify-start",
            StackJustify.Center => "justify-center",
            StackJustify.End => "justify-end",
            StackJustify.Between => "justify-between",
            StackJustify.Around => "justify-around",
            StackJustify.Evenly => "justify-evenly",
            _ => "justify-start"
        });

        // Gap
        classes.Add(Gap switch
        {
            StackGap.None => "gap-0",
            StackGap.ExtraSmall => "gap-1",
            StackGap.Small => "gap-2",
            StackGap.Medium => "gap-3",
            StackGap.Large => "gap-4",
            StackGap.ExtraLarge => "gap-6",
            StackGap.TwoXL => "gap-8",
            _ => "gap-3"
        });

        // Wrap
        if (Wrap)
        {
            classes.Add("flex-wrap");
        }

        // Additional custom classes
        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class);
        }

        return string.Join(" ", classes.Where(c => !string.IsNullOrWhiteSpace(c)));
    }

    public enum StackDirection
    {
        Row,
        RowReverse,
        Column,
        ColumnReverse
    }

    public enum StackAlign
    {
        Start,
        Center,
        End,
        Stretch,
        Baseline
    }

    public enum StackJustify
    {
        Start,
        Center,
        End,
        Between,
        Around,
        Evenly
    }

    public enum StackGap
    {
        None,
        ExtraSmall,
        Small,
        Medium,
        Large,
        ExtraLarge,
        TwoXL
    }
}